name: CD

on:
  push:
    branches: [ main ] 

env:
  S3_BUCKET_NAME: mas-s3bucket
  PROJECT_NAME: MSL-backend
  
jobs:
  build:
    name: CD
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 19
        uses: actions/setup-java@v3
        with:
          java-version: '19'
          distribution: 'zulu'
      
      - name: Make application.yml
        run: |
          cd ./src/main
          mkdir resources
          cd ./resources
          touch ./application.yml
          echo "${{ secrets.APPLICATION }}" > ./application.yml
        shell: bash

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash
      
      - name: Build with Gradle
        run: ./gradlew build
        shell: bash
        
      - name: Make zip file
        run: |
          mkdir deploy
          cp ./build/libs/*.jar ./deploy/
          cp ./appspec.yml ./deploy/
          cp ./deploy.sh ./deploy/  
          zip -r -qq -j ./msl-build.zip ./deploy

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./msl-build.zip s3://$S3_BUCKET_NAME/
        
      - name: Deploy
      
        run: aws deploy create-deployment --application-name MSL-backend
          --deployment-config-name CodeDeployDefault.OneAtATime
          --deployment-group-name MSL
          --s3-location bucket=$S3_BUCKET_NAME,bundleType=zip,key=msl-build.zip
